<h1 class="text-center">All our flats</h1>
<p class="text-center">All <%= @flats.count %> flats</p>
<div class="container">
  <% @flats.each do |flat| %>
    <div class="card flat-card">
      <div class="card-body">
        <h5 class="card-title"><%=flat.name%> <a href=""><i class="fab fa-facebook-f" style="margin-left: 3px;"></i></a>  <a href=""><i class="fab fa-twitter" style="margin-left: 3px;"></i></a>  <a href=""><i class="fab fa-whatsapp-square" style="margin-left: 3px;"></i> </a> </h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
        <div class="d-flex justify-content-between">
        <i class="fas fa-users"><%=flat.number_of_guests%></i>
        <i class="fas fa-euro-sign"> <%=flat.price_per_nigh%> </i> <br>
        </div>
        <div class="links">
          <%= link_to 'More info', flat_path(flat), class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_flat_path(flat), class: "btn btn-warning" %>
          <%= link_to "Delete", flat_path(flat), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"%>
        </div>
      </div>
    </div>
  <%end%>
</div>
